.main-conatiner{
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverMovie{
    width: 100%;
}

.info{
    padding: 5%;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;

    img{
        width: 4rem;
        height: 4rem;
    }
}

.otherInformation{
    display: flex;
    justify-content: center;
}

.trailers{
    margin-left: 50%;
}