<ion-content>
  <div class="main">

    <!-- Banner de bienvenida -->
    <div class="welcomeCard">
      <ion-text>
          <h1>Hola, {{userData.nombre}}</h1>
          <h3>{{comentary}}</h3>
      </ion-text>
    </div>

    <!-- Peliculas mas recientes-->
    <div class="moviesContent">
      <ion-text>
        <h2>Peliculas recientes</h2>
      </ion-text>
      <ion-slides [options]="slidersConfig">
        <ion-slide *ngFor="let movie of movies">
          <app-movie-card
            [movieId]="movie.idPelicula"
            [cover]="movie.portada"
            [title]="movie.nombre"
            [rating]="movie.calificacion"
            (touchCard)="movieTouched($event)"
          >
          </app-movie-card>
        </ion-slide>
      </ion-slides>
      <ion-text>
        <h2>Peliculas mejor votadas</h2>
      </ion-text>
      <ion-slides [options]="slidersConfig">
        <ion-slide *ngFor="let movie of bestMovies">
          <app-movie-card
            [movieId]="movie.idPelicula"
            [cover]="movie.portada"
            [title]="movie.nombre"
            [rating]="movie.calificacion"
            (touchCard)="movieTouched($event)"
          >
          </app-movie-card>
        </ion-slide>
      </ion-slides>
    </div>

  </div>
</ion-content>
