<!-- En caso de tener foto de usuario -->
<div *ngIf="profileImage !== null else NoImage">
    <ion-avatar class="avatar-img">
        <img src="https://res.cloudinary.com/binwus/image/upload/v1647224581/cld-sample.jpg"/>
    </ion-avatar>
</div>

<ng-template #NoImage>
  <!-- En caso de no tener foto de usuario -->
  <div class="img-container">
    <img src="../../../assets/images/logo.png" class="not-profile-img"/>
    <ion-text color="medium">Sin foto de perfil</ion-text>
  </div>
</ng-template>