<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <!-- Imagen y nombre del usuario -->
        <div class="header-splash">
            <div class="img-container">
              <img src="../../../assets/images/logo.png" class="not-profile-img"/>
              <ion-text color="medium">Sin foto de perfil</ion-text>
            </div>
        </div>

        <!-- Informacion del usaurio -->
        <ion-grid class="ion-padding">
            <ion-row class="ion-align-items-center">
                <ion-col size="2">
                  <ion-icon name="person-circle-outline" size="large"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-text>Nombre de usuario</ion-text>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col size="2">
                <ion-icon name="mail-outline" size="large"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-text>Email del usuario</ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-button color="primary" class="ion-margin-top ion-align-items-center" (click)="handleNavigateToSettings()">
                EDITAR PERFIL
                <ion-icon name="pencil-outline" class="ion-margin-start"></ion-icon>
              </ion-button>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
