<ion-header>
  <ion-toolbar class="ion-align-items-center">
    <ion-buttons slot="start" class="ion-align-items-center" (click)="closePageModal()">
      <ion-icon name="chevron-back-outline" size="medium" slot="start"></ion-icon>
      <ion-text>Atras</ion-text>
    </ion-buttons>
    <ion-title>Editar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <form>
    <ion-list class="list-inputs">
      <ion-item>
          <ion-input
            placeholder="Nombre"
          >
          </ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
          <ion-input
            placeholder="Apellido"
          >
          </ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
          <ion-input
            placeholder="Email"
          >
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="button-content">
        <ion-button color="danger">Cancelar</ion-button>
        <ion-button>Actualizar</ion-button>
    </div>

   </form>
</ion-content>
